:root {
    --main-bg-color: whitesmoke;
    --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --title-font-color: #0366d6;

    --my-dark-grey: #24292e;
    --my-mid-grey: #48525c;

    --my-blue-color: #0366d6;
    --my-green-color: green;
    --my-purple-color: purple;
    --my-orange-color: orange;

    --max-content-width: 1500px;
    --min-content-width: 1000px;
}

body {
    font-family: var(--main-font);
    background-color: whitesmoke;
    margin: 0;
}

.content {
    font-size: 16px;
    max-width: var(--max-content-width);
    padding: 0 5%;
    margin: 0 auto auto;
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--title-font-color);
    text-align: center;
    font-size: 54px;
    margin-bottom: 50px;
}

.title-paragraph {
    text-align: center;
}

h1, h2, h3 {
    color: var(--title-font-color);
}


a {
    color: var(--title-font-color);
    text-decoration: none;
}

hr {
    display: block;
    margin: 0;
    border-style: inset;
    border-width: 1px;
    opacity: 0.5;
}